<h1>Here are all the posts for this post</h1>

<h5>Title:</h5> <p><%= @post.title %></p><hr>
<h5>Content:</h5> <%= @post.content %><hr>


<h5>Category: </h5>
<ul>
<% @post.categories.each do |category|%>
  <li><%= link_to category.name, category_path(category) %> </li>
<% end %>
</ul><hr><br>


<ul>
<% @post.comments.each do |comment| %>
    <li>
    <%= comment.user.username %> says: <%= comment.content %><hr>
    </li>
<% end %></ul>

<% @post.users.uniq.each do |user|%>
    <%= link_to user.username, user_path(user) %>
<% end %>


<%= form_for @comment do |c| %>

    <%= c.label "From username:" %><br>
    <%= c.collection_select :user_id, User.all, :id, :username %><br>

    <%= c.label "Comment:" %><br>
    <%= c.text_area :content %><br><br>

    <%= c.fields_for :user, @post.users.build do |user_fields| %>
        <%= user_fields.label "UserName:" %><br>
        <%= user_fields.text_field :username %><br>
    <% end %><br>

    <%= c.hidden_field :post_id, value: @post.id %> 
    <%= c.submit %><br>

<% end %><hr><br>


